* {
    padding: 0;
    margin: 0;
    border: 0;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 42px;
}
/* constants */
.container {
    width: 992px;
    margin: 0 auto;
}
.container_pos {
    width: 992px;
    margin: 0 auto;
    position: relative;
}
.btn {
    padding: 6px 25px;
    background-color: #8a399b;
    text-align: center;
    border-radius: 25px;
    color: #FFF;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover {
    background-color: #FFF;
    color: #8a399b;
}
.btn_border {
    padding: 4px 25px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #8a399b;
    color: #8a399b;
    font-size: 14px;
    cursor: pointer;
    box-sizing: border-box;
}
/* /constants */
body {
    font-family: 'Roboto', sans-serif;
}
header {
    width: 100%;
    background-color: #FFF;
    height: 60px;
}
header .container_pos,
.fullhero .container_pos {
    height: 100%;
}
header .logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 150px;
}
header .logo img {
    width: 100%;
}
header nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.fullhero {
    width: 100%;
    height: 540px;
    background-image: url('assets/images/banners/horizon-zero-dawn.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: overlay;
}
.fullhero h2 {
    font-size: 48px;
    color: #FFF;
    font-weight: bold;
    margin: 20px 0;
    line-height: 1.1;
    text-shadow: 1px 1px 5px rgba(50, 50, 50, 1);
}
.overlayer {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.about {
    width: 100%;
    padding-top: 80px;
    min-height: 300px;
    background-color: #eee;
    text-align: center;
    color: #333;
}
.about .text {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 30%;
}
.about .text h2 {
    font-size: 36px;
    font-weight: lighter;
}
.about .text p {
    margin: 20px 0;
    font-size: 18px;
}
.about img {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin-left: 50px;
}
.howitworks {
    width: 100%;
    padding: 80px 0;
    min-height: 300px;
    background-color: #8a399b;
    text-align: center;
}
.thumbs .card {
    width: 310px;
    height: 120px;
    background-color: #FFF;
    display: inline-block;
    margin: 5px;
    text-align: left;
    vertical-align: top;
}
.thumbs .card figure {
    width: 120px;
    height: 120px;
    display: inline-block;
    background-image: url('assets/images/thumbnail-witcher.jpg');
    background-position: center;
    background-size: cover;
}
.thumbs .card .details {
    width: 160px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.thumbs .card .details p {
    font-weight: bold;
    font-size: 13px;
    padding: 15px;
}
.thumbs .card .details .tag {
    background-color: #006dd9;
    color: #FFF;
    padding: 2px 10px;
    border-radius: 10px;
    font-size: 12px;
    position: absolute;
    left: 15px;
    bottom: 15px;
}
.thumbs .card .details .favorite {
    color: #666;
    position: absolute;
    right: 0;
    bottom: 15px;
}
.howitworks h1 {
    color: #FFF;
    margin-bottom: 40px;
}
.video {
    width: 100%;
    background-color: #000;
}
.contact {
    width: 100%;
    background-color: #EEE;
    padding: 50px 0;
    text-align: center;
}
.contact h1 {
    color:#8a399b;
    padding-bottom: 20px;
}
.contact p {
    color:#666;
}
.contact form {
    width: 500px;
    margin: 40px auto;
}
.contact input,
.contact textarea {
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    border: 2px solid #DDD;
    font-family: 'Roboto', sans-serif;
    color: #666;
}
.contact textarea {
    min-height: 140px;
}
.contact button {
    width: 200px;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
}
footer {
    width: 100%;
    padding: 50px 0;
    background-color: #8a399b;
    color: #FFF;
    text-align: center;
}